/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #eff7f1;
}
.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}
p.lead {
    padding-top: 15px;
}
.navigation, .pitch, .section1, .section2, .faq, .footer {
    padding: 10px 0px 10px 0px;
}
.video, .thermometer, .order, .social {
    border: 1px dotted;
    text-align: center;
}
.video {
    /* Internal borders have 1px width, thus need to add 4 x 1px to 120px. */
    padding: 2.5% 0%;
}
.thermometer, .order, .social {
    /* line-height to vertically center: http://phrogz.net/css/vertical-align/index.html */
    height: 40px;
    line-height: 40px;
}
div.addthis_toolbox {
  width:180px;
  margin: 0 auto;
 }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
